.header {
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-name {
  font-family: Arial;
  font-size: 44px;
  color: black;
  font-weight: bold;

  margin-right: 30px;
  padding-top: 10px;

  display: inline-block;
}

.app-image {
  width: 75px;
  height: 100px;
}

.search-button {
  border-radius: 25px;
  color: #C02F1D;
  font-weight: bold;
  margin-left: 10px;
}

.error {
  text-align: center;
  color: red;
}

.venues {
  margin-top: 5%;
}

.custom-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: blue;
}

.venue-base {
  font-family: Garamond;
  line-height: 125%;
}

.venue-name {
  font-size: 22px;
  font-weight: bold;
}

.venue-categories {
  font-style: italic;
  color: grey;
}
