.header-row {
  margin-top: 3%;
}

.hamburger {
  width: 75px;
  height: 75px;
  display: inline-block;
}

.title {
  margin-left: 25px;
  font-size: 44px;
  font-family: Garamond;
}

.title-food {
  color: #AD2A1A; //ruby
}

.title-nearby {
  color: #DA621E;
}
