<div class="container">
  <div class="row header-row justify-content-center">
    <%= image_tag("hamburger.png", class:"hamburger") %>
    <div class="title">
      <span class="title-food">Food</span><span class="title-nearby">Nearby</span>
    </div>
  </div>
</div>
